<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status</title>
    <link rel="stylesheet" href="{url_for('static',filename='css/status.css')}}">
    
    
    <link rel="stylesheet" href="{url_for('static',filename='css/homepage.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body >
    <div class="main">
        <div class="navbar">
            <div class="icon">
             <h2  class="logo"><i class="fas fa-people-carry"></i>&nbsp</i>Custocare</h2>
            </div>
                  <div class="search">
            <button class="dropbtn"><a href="{{url_for('welcome')}}" style="text-decoration: none;color:#ff7200;">LOGOUT</a></button>
        </div> </div>

    <fieldset disabled="disabled">
 
    <div class="container" style="border-style: solid;
    border-width: 5px;background-color: white;">
    <p  style="color: #ff7200;font-size: 27px;font-weight: bold;font-family: Arial, Helvetica, sans-serif ;align-items: center;margin-left: 125px;">STATUS BAR</p>
        <div id="stepProgressBar">
        <div class="step">
            <p class="step-text">VIEW</p>
            <div class="bullet"><div class="line1"></div></div>
           
        </div>
        <div class="step">
            <p class="step-text">IN PROGRESS</p>
            <div class="bullet"><div class="line2"></div></div>
        </div>
        <div class="step">
            <p class="step-text">COMPLETED</p>
            <div class="bullet"></div>
        </div>
    </div>
    <div id="main">
        <p style="margin-right:30px" id="content"  class="text-center"></p><br>
        <button  style="    margin-left: 110px;margin-top: 20px;" id="previousBtn" >&nbsp;&nbsp;Previous</button>
        <button   style="margin-left: 20px;" id="nextBtn">Next</button>
       <!-- <button id="finishBtn" >Finish</button>-->
    </div>
    <br><br><br>
    <div>
        <label style="margin-left :15px;color:#28a745"  for="getid">CUSTOMER ID:</label>
        <input  type="text" id="getid" name="id">
        <br>
        <button style="margin-right: 40px;margin-left: 175px;margin-top: 50px;"  id="submit">SUBMIT</button>
        <a href="new.html"><input type="submit"></a>
    </div>
    </div>
    </div>
    <script src="{{ url_for('static',filename='js/status.js')}}"></script>
</fieldset>
</body>
</html>